.sellpage{
    margin-top: 4rem;
}

.drop1{
    position: relative;
    font-size: 14px;
    left: 22%;   
}
.marginform{
    margin-left: 2rem;
    }
.drop2{
    position: relative;
    font-size: 14px;
    left: 8%;
}
.drop3{
    position: relative;
    font-size: 14px;
    left: 5%;

    
}
.dropdown a{
    background-color: rgba(217, 217, 217, 0.37);
    color: #828282;
    border: 1px solid rgba(69, 69, 69, 1);
}
.navdown{
    position: relative;
    
}

/* table */
.table{
    border: 1px solid rgba(193, 193, 193, 1);
}
.table thead{
    background-color: #24A1FD;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}
.table tbody{
    color: #3F3F3F;
    font-size: 16px;
    text-align: center;
}