.home {
    display: flex;
    /* flex-direction: row; */
    flex-flow: row;
    margin-left: 10px;
    margin-right: 10px;
  }
.home_content{
    display: block;
    height: 150px;
    width: 18%;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}
.home_inside{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
}
.Order{
    display: flex;
    /* flex-direction: row; */
    flex-flow: row;
}
.Order_Info{
    display: block;
    height: 150px;
    width: 18%;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border: 1px solid rgb(231, 225, 225);
}
.Order_inside{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
}

  @media (max-width: 800px) {
    .home {
        flex-wrap: wrap;
      flex-direction: column;

    }
    .home_content{
        display: block;
        height: 150px;
        width: 80%;
        /* margin-bottom: 10px; */
        margin-top: 100px;
    }
    .Order{
        flex-wrap: wrap;
        flex-direction: column; 
    }
    .head{
        margin-top: 24%;
    }
    .Order_Info{
        display: block;
        height: 150px;
        width: 80%;
        margin-bottom: 20px;
    }
  }