.enquiry_table{
    width:90%;
    
    border: 1px solid whitesmoke;
    padding: 10px 10px;
    margin-right: 10px;
}
.enquiry_head_search{
    width: 40%;
    margin-bottom: 20px;
    margin-left: 100%;
}
@media (max-width: 800px) {
    .enquiry_head_search{
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
    }
    .enquiry_table{
        margin-bottom: 20%;
    }
    .enquiry_head{
        display: none;
    }
}